<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Enter Password</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		<div class="password-container">
			<h2>Enter Password to Access File</h2>
			<form method="POST">
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required />
				</div>
				<button type="submit" class="general-button">Submit</button>
			</form>
			{% for message in get_flashed_messages() %}
			<p style="color: red; text-align: center">{{ message }}</p>
			{% endfor %}
		</div>
	</body>
</html>
